<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- A simple bean definition -->
    <!--    property方式通过无参构造器构造 再通过set方法添加属性-->
    <!--bean name添加id别名-->
    <!--    <bean id="user" class="org.example.entities.User" name="aliasUser">-->
    <!--        <property name="name" value="spring"/>-->
    <!--    </bean>-->


    <!--使用ref id引用传入别的实例-->
    <!--    <bean id="user" class="org.example.entities.User">-->
    <!--        <property name="name" ref="user2"/>-->
    <!--    </bean>-->


    <!--    实体类构造器有多个参数时  -->
    <!--    constructor-arg 都是依赖通过构造函数传入的值，并不是set方法-->
    <!--使用下标进行指定传参-->
    <!--        <bean id="user" class="org.example.entities.User">-->
    <!--            <constructor-arg index="0" value="aaa"/>-->
    <!--            <constructor-arg index="1" ref="user3"/>-->
    <!--        </bean>-->

    <!--使用类型重载进行传参-->
    <!--            <bean id="user" class="org.example.entities.User">-->
    <!--                <constructor-arg type="java.lang.String" value="aaa"/>-->
    <!--                <constructor-arg type="java.lang.Integer" value="1"/>-->
    <!--            </bean>-->


    <!--              <bean id="user" class="org.example.entities.User">-->
    <!--                    <constructor-arg name="name" value="aaa"/>-->
    <!--                    <constructor-arg name="age" value="1"/>-->
    <!--                </bean>-->


    <!-- A bean definition with lazy init set on -->
    <!--    <bean id="..." class="..." lazy-init="true">-->
    <!--    </bean>-->

    <!-- A bean definition with initialization method -->
    <!--    <bean id="..." class="..." init-method="...">-->
    <!--    </bean>-->

    <!-- A bean definition with destruction method -->
    <!--    <bean id="..." class="..." destroy-method="...">-->
    <!--    </bean>-->

    <!-- more bean definitions go here -->

</beans>